  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue';
}
img{
  max-width: 100%;
}
body{
  margin: 2.5% 5%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
.banner{
  margin-bottom: 2px;
  background-image: url(Assets/design1_image1.jpg);
  padding: 5px;
  height: 25vw;
  background-position: 0% 30%;
  object-fit: cover;
  background-size: 100%;
}
h1{
  font-size: 3rem;
  -webkit-text-stroke: 3px #05d10ce3;
}
.titulo{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: black;
  color: white;
  font-size: 2em;
  padding-right: 3%;
  padding-left: 5%;
}
#logo{
  width: 2em;
  background-color: white;
  border: solid;
  border-color: black;
}
main{
  display: flex;
  margin-top: 4vw;
}
nav{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-size: 1.5em;
}
a, span{
  display: flex;
  margin-bottom: 7vh;
}
dl{
  display: flex;
  margin-left: 7vw;
  flex-direction: column;
  font-size: 1.3em;
}
dt{
  font-weight: bold;
}
dd{
  margin: 0px 0px 40px 40px;
  margin-bottom: 68px;
}
.contact > span{
  display: flex;
  font-weight: 600;
  flex-direction: column;
  margin: 5vw 0vw 0vw 15vw;
  font-size: 1.3em;
}
@media (max-width: 450px){
  h1{
    font-size: 2rem;
  }
}
@media (max-width: 320px){
  h1{
    font-size: 1.5rem;
  }
}
/* -------------- Information -------------- */
#bodyInfo{
  display: flex;
}
#tituloInfo{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
#mainTabla{
  justify-content: space-between;
  margin-bottom: 5em;
  align-items: start;
}
table {
  margin-right: 27%;
}
table, th, td{
  border: solid;
  border-collapse: collapse;
  padding: 10px;
  width: 50%;
  font-weight: 600;
  margin-left: 10px;
}
#telYmail{
  display: flex;
  justify-content: space-between;
}
footer{
  font-size: 130%;
}
.spans{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactH{
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 700px){
  #mainTabla{
    flex-direction: column;
    margin-right: 10vw;
  }
  #mainTabla>nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav a, nav span{
    margin-right: 30px;
  }
  #mainTabla>table{
    margin: 0vw 15vw;
  }
}
/* -------------- Rules -------------- */
.bodyRules{
  display: flex;
  flex-direction: column;
}
#tituloRules{
  display: flex;
  margin-top: 1em;
  font-size: 1rem;
}
#tituloRules > h1{
  
}
#tituloRules:last-child{
  font-weight: bold;
}
dt>li, ul>li{
  margin-bottom: 2em;
}
dl{
  flex-wrap: wrap;
}
#olLetras{
  list-style-type:lower-alpha;
}
ul{
  list-style-type:circle;
}

/* -------------- Registry -------------- */
fieldset span{
  flex-direction: row;
  margin: 0;
}
form{
  margin-left: 10vw;
  
}
form div{
  margin-bottom: 1.5em;
}
label{
  font-weight: bold;
}
